
body,html{
    width: 100vw;
    height: 100vh;
    margin: 0px;
     overflow: hidden;
}

:host{
    box-sizing: border-box;
    display: block;
    height: 100%;
  }
  :host .back{
    height: 100vh !important;
    width: 100vw !important;
}

