<mat-toolbar class="toolBar"><span class="spanTool">Yamos</span> 
<mat-search-bar class="search"[(ngModel)]="searchVal" title="press enter to search"></mat-search-bar>
<button mat-button (click)="Logout()">Logout</button>
  </mat-toolbar>

<!-- for sidebar -->
<div
  mwlResizable
  [enableGhostResize]="true"
  [resizeEdges]="{ bottom: false, right: true, top: false, left: false }"
  (resizeEnd)="onResizeEnd($event)"
  class="sidebar"
   style='
   max-width:50%;
   min-width:5%;
   overflow-y: scroll;'
    [style.width.px]="width"><app-cart></app-cart></div>
  


<!-- for main page -->
<div class="main">
  
<div class="catagories">
  
<button mat-button class="cell" *ngFor="let category of categories" (click)="getProducts(category.name)">{{category.name}}</button>
</div>
<!-- for card -->


  
  <div *ngIf="!searchVal" >
  <div class="example-card" *ngFor="let product of products">
      
      <img class="imgCard" mat-card-image src={{product.image_url}} alt={{product.item_name}}>
        <div>{{product.item_name}}</div>
        <mat-card-subtitle>{{product.price}}₪</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="add(product)">+</button>
          <span *ngIf="this.prod==product.id">{{amount}}</span>
          <button  mat-button (click)="del(product)">-</button>
          <button mat-mini-fab class="btn" (click)="submit(product)">add</button>
          
        </mat-card-actions>
      </div>

<div *ngIf="searchVal">


    <div class="example-card" *ngFor="let result of searchResults | filter: searchVal">
      <img class="imgCard" [src]="result.image_url">
      <span class="yellow">{{result.item_name}} </span>
      <mat-card-subtitle>{{result.price}} ₪</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button (click)="add(result)">+</button>
        <span *ngIf="this.prod==result.id">{{amount}}</span>
        <button  mat-button (click)="del(result)">-</button>
        <button mat-mini-fab class="btn" (click)="submit(result)">add</button>
      </mat-card-actions>
    </div>
  </div>


</div>
</div>